
<div class="container">
    <div class="row">
        <div class="col-md-3">
         <%= profile_avatar_select(@user) %>
        </div>
    </div>    
</div>  

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
             <h3><%=@user.user_name %></h3>
        <% if @user == current_user %>
            <%=@user.bio %>
            <%=link_to 'Edit Profile', edit_profile_path(@user.user_name)  %>
         <% end %>
            </div>
        </div>    
    </div>  
</div>
